@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #b5b5b5;
}

input[type="text"]:focus {
  @apply focus:ring-0 focus:ring-offset-0;
  /* --tw-ring-color: none; */
  /* --tw-ring-shadow: none; */
}

div[role="dialog"]:focus-within {
  @apply shadow-none;
}

.two-lines-text-elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  top: 10%;
  left: 35%;
  position: absolute;
}
.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
  animation: dc 1s ease-in-out;
  animation-fill-mode: forwards;
}
.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dt 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.95s;
}
@keyframes dc {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}
@keyframes dt {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}
