@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #b5b5b5;
}

input[type="text"]:focus {
  @apply focus:ring-0 focus:ring-offset-0;
  /* --tw-ring-color: none; */
  /* --tw-ring-shadow: none; */
}

div[role="dialog"]:focus-within {
  @apply shadow-none;
}
